# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# VS Code (caso use)
.vscode/

# SO - Windows / Mac
Thumbs.db
.DS_Store

# Allure (cache e resultados)
.allure/
allure-results/
allure-report/